*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', sans-serif;
    padding: 30px;
    margin: 0;
    background-color: #aaf8ed;
}
.logo{
    background-color: aqua;
    font-size: 30px;
    color: aliceblue;
    border: 3px solid #392fff;
    border-radius: 15px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: #333;
    color: white;
}
.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}
.container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 20px;
    position: relative;
}
.container div{
    height: 200px;
    border: 3px #b3b9fc;
    background:#e1faf9;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px #0841e0aa;
    position: absolute;
    position: relative;
    align-items: center;
    justify-content: center;
}
.card1{
    background-image: url(fj2.jpg);
    
}
    

.header {
    text-align: center;
    padding: 15px 10px;
    background: #007bff;
    border-radius: 0 0 15px 15px;
    color: white;
}
footer{
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: azure;
    border-radius: 0 0 15px 15px;
    font-size: 14px;
}
 .del{
        display:none ;
    }

/* big tablet */
@media (max-width: 1024px) {
    body{
        background-color: #034ae2;
    }

    .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* small tablet */
@media (max-width: 764px) {
    body{
        background-color: #eb09eb;
    }
    .container{
        grid-template-columns: 1fr 1fr ;
    }
   
    
}

/* mobile phone */
@media (max-width: 640px) {
    body{
        background-color: pink;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .nav-links {
    display: none;
    gap: 20px;
    list-style: none;
}
.del{
        display: block ;
    }
}


    